body{
    min-height: 800px;
}
#list-box{
    width: 547px;
    height: 700px;
    max-height: 700px;
    background: #FFFFFF;
    border: 4px solid rgba(125, 45, 0, 0.74);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.list-total{
    display: flex;
    justify-content: space-between;
}

.list-line{
    width: 456px;
    margin-bottom:20px;
}

.list-title{
    font-size: 20px;
    height: 40px;
}

.list-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list-profile img{
    width: 58px;
    height: 58px;
    border-radius: 100px;
}

.fa-folder, .fa-bars{
    width: 35px;
    height: 35px;
    color: #2B1200;
}

.list-sub-box{
    width: 440px;
    height: 66px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    padding: 19px 26px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.list-sub-box:last-child{
    margin-bottom: 0px;
}

.list-sub-detail{
    width: 440px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 19px 26px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #EDEDED;
}

.list-sub-detail img{
    width: 50px;
    height: 50px;
}

.dropdown{
    margin: 0px;
    padding: 0px;
}

.sub-content{
    min-width: 240px;
}

.sub-name{
    height: 25px;
    font-size: 20px;
    font-weight: 700px;
    line-height: 24px;
    color: #2B1200;
    padding-bottom: 10px;
    
}

.sub-detail{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    min-width: 130px;
    color: #2B1200;
}

.scroll-area{
    position: absolute;
    box-sizing: border-box;
    width: 456px;
    max-height: 430px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 5px;
    scroll-behavior: smooth;
}

.scroll-area::-webkit-scrollbar{
    background-color: white;
    border-radius: 100px;
    width: 6px;
}

.scroll-area::-webkit-scrollbar-thumb{
    background-color: #7D2D00;
    border-radius: 100px;
}

.box1{
    background: #FBE180;
}
.box2{
    background: #F8B759;
}
.box3{
    background: #EB983C;
}
.box4{
    background: #F17A23;
}

.sub-folder-name{
    width: 310px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2B1200;
    padding-left: 10px;
}

.list-plus-box{
    width: 440px;
    height: 66px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    padding: 19px 26px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    text-align: center;
    margin-bottom: 30px;
}

.fa-plus{
    color: #565C60;
}

#text-bord2{
    color: #7D2D00;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 54px;
    margin-top: 52px;
}
#text-bord2 p{
    margin: 0;
}

#folder-create{
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background-color: #fccf75;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    text-indent: 10px;
    text-align: center;
}

#folder-create::placeholder{
    text-indent: 10px;
    font-weight: bold;
    color: #4e260f;
    text-align: center;
}

#folder-create:focus{
    outline: none;
}

.create-btn-box{
    box-sizing: border-box;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.folder-create-box{
    width: 120px;
    height: 50px;
    margin: 0 auto;
    background-color: #EB983C;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #2B1200;
    margin-right: 5px;
}

.folder-create-cancel{
    width: 120px;
    height: 50px;
    margin: 0 auto;
    background-color: #EB983C;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #2B1200;
    margin-left: 5px;
}

.logo-img{
    width: 130px;
    margin-top: 30px;
}

#plus > button{
    border: none;
}

.line{
    width: 440px;
    height: 2px;
    border: none;
    background-color: #9D5F37;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.sub-btn button{
    position: relative; 
    left: 390px; 
    bottom: -350px;
    border: none;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    width: 80px;
    height: 80px;
}

.sub-btn img{
    width: 80px;
    height: 80px;
}

.logo-image{
    opacity: 0.7;
    margin: 0 auto;
    text-align: center;
}

.logo-image img{
    width: 80px;
}

/*구독정보 페이지*/

.sub-title{
    margin-bottom: 40px;
}

.fa-pencil{
    width: 14px;
    height: 14px;
    margin-right: 28px;
}
.sub-info{
    width: 440px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    align-items: center;
    display: block;
    justify-content: space-between;
    padding: 19px 26px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #FFD2B1;
}

.sub-info-day{
    font-size: 20px;
    color: #2B1200;
}

.sub-info-price{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #2B1200;
}

.sub-info-detail{
    width: 440px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 19px 26px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #EDEDED;
}

.sub-info-detail img{
    width: 50px;
    height: 50px;
}

.cumulative-price{
    height: 25px;
    font-size: 16px;
    font-weight: 700px;
    color: rgb(255, 230, 230);
    padding-bottom: 10px;
}

.sub-cumulative-price{
    background-color: #9D5F37;
}

.withdrawal-info{
    margin: 0 auto;
    color: rgb(255, 230, 230);
    font-size: 20px;
    text-align: center;
}

.sub-withdrawal-info{
    width: 440px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    align-items: center;
    padding: 19px 26px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #EB3C3C;
}

/*구독정보 등록*/
.new-sub{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-nickname{
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.file-txt{
    font-size: 16px;
    height: 40px;
    width: 300px;
}

.img-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 15px;
}

.fa-image{
    color: #8f9091;
}

.input-file-button{
    padding: 20px 40px; 
    background-color:#ececec;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flex-box p{
    color: #2B1200;
    font-size: 16px;
    font-weight: bold;
}

.info-name input[type="text"], .info-price input[type="text"]{
    width: 342px;
    height: 40px;
    background: rgba(245, 245, 245, 0.86);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-indent: 10px;
    border: none;
}

#select-box, #select-box2{
    width: 344px;
    height: 40px;
    background: rgba(245, 245, 245, 0.86);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-indent: 10px;
    border: none;
}

#select-box2:focus{
    outline: none;
}

.info-date input[type="text"]{
    width: 170px;
    height: 60px;
    background: rgba(245, 245, 245, 0.86);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-indent: 10px;
    border: none;
}

input[type="date"]{
    width: 150px;
    height: 40px;
    background: rgba(245, 245, 245, 0.86);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-indent: 10px;
    border: none;
    margin-right: 10px;
}

.info-date{
    margin-bottom: 0px;
}

.info-name input[type="text"]::placeholder, .info-price input[type="text"]::placeholder{
    text-indent: 10px;
}

.info-date-input-box{
    width: 346px;
    font-size: 16px;
    color: #2B1200;
}

.info-date-input-box input[type="text"]{
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.info-date-input-box input, .info-date-input-box input::placeholder{
    text-align: center;
    margin-bottom: 20px;
    text-indent: 0px;
}

.info-date-input-box p{
    font-size: 16px;
}

.info-date-input-box p input[type="text"]{
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    text-indent: 0px;
}

.info-date-input-box p input[type="text"]:last-child{
    margin-left: 20px;
}

.input-box:focus{
    outline: none;
}

#month-box input[type='text'], #week-box input[type='text']{
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    text-indent: 0px;
}

.create-btn{
    width: 465px;
    height: 60px;
    background: #9B5319;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#writing-box{
    display: block;
    margin-top: 10px;
}

#writing-box input[type='text']:focus{
    outline: none;
}

/*화면 비율이 작아질 경우 스타일 변경*/
@media screen and (max-width: 550px){
    #list-box{
        width: 470px;
        height: 700px;
    }

    .list-line{
        width: 380px;
    }

    .list-sub-box{
        width: 368px;
        height: 66px;
    }

    .scroll-area{
        width: 388px;
    }

    .list-sub-detail{
        width: 368px;
    }

    .sub-name{
        font-size: 16px;
    }

    .sub-content{
        min-width: 230px;
    }

    .list-sub-detail img{
        width: 40px;
        height: 40px;
    }

    .list-plus-box{
        width: 368px;
    }

    /*구독 정보 페이지*/
    .sub-info{
        width: 368px;
    }

    .sub-info-detail{
        width: 368px;
    }

    .sub-withdrawal-info{
        width: 368px;
    }

    .sub-btn button{
        position: relative; 
        left: 320px; 
        bottom: -350px;
    }
    .line{
        width: 368px;
    }

    .file-txt{
        font-size: 13px;
        height: 40px;
        width: 250px;
    }

    /*구독정보 등록 페이지*/
    .create-btn{
        width: 390px;
    }

    .info-name input[type="text"], .info-price input[type="text"]{
        width: 280px;
    }

    #select-box, #select-box2{
        width: 284px;
    }

    .info-date-input-box{
        width: 285px;
        font-size: 14px;
    }

    .info-date-input-box p{
        font-size: 14px;
    }

    #month-box input[type="text"], #week-box input[type="text"]{
        width: 40px;
        border-radius: 10px;
        margin-right: 5px;
        text-indent: 0px;
    }

    .info-date-input-box p input[type="text"]:last-child{
        margin-left: 10px;
    }

    .input-box:focus{
        outline: none;
    }

    
}