body{
    background: #F9F1D5;
}
#top{
    text-align: center;
    line-height: 79px;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
    position: fixed;
    background-color: #EA9D04;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 2;
}
.flex-col-center{
    /* 가로중앙정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-row-center{
    /* 세로중앙정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-row{
    /* 가로나란히정렬 */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#MOBO-SUBLIST-MYSUB{
    width: 300px;
    margin-top: 85px;
    color: #7D2D00;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
}
#MOBO-SUBLIST-MYSUB a{
    cursor: pointer;
}
#bottom{
    color: #7D2D00;
    position: fixed;
    background-color: #EA9D04;
    width: 100%;
    height: 80px;
    bottom: 0;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
}
#text-bord{
    color: #7D2D00;
    font-size: 26px;
    font-weight: 800;
    line-height: 31px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 547px;

}
#text-bord p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
#back-arrow{
    cursor: pointer;
    position: absolute;
    margin-right: 400px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: url(../img/back.png);
}
.browntext{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #7D2D00;
}
hr{
border: 0;
height: 1px;
background-color: #7D2D00;
}